<section class="hero">
  <h1 class="hero--header">Interactive Platform About Films</h1>
  <p class="hero--text">Join your favourite heroes without leaving home.</p>
  <%= image_tag('grid.jpg') %>
</section>
